In [9]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv('emp_promotion.csv')

In [11]:
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,50.0,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,73.0,0

In [12]:
from sklearn.utils import resample

In [13]:
df_majority=df[df["is_promoted"]==0]
df_minority=df[df["is_promoted"]==1]
df_minority_upsampled=resample(df_minority,replace=True,n_samples=50140,random_state=123)
df_=pd.concat([df_majority,df_minority_upsampled])

In [14]:
df_

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,50.0,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,73.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46373,73469,Technology,region_17,Bachelor's,m,sourcing,1,33,3.0,10,0,76.0,1
25822,13712,Sales & Marketing,region_13,Master's & above,m,other,1,35,3.0,4,0,63.0,1
36170,62763,Operations,region_22,Bachelor's,f,other,1,27,4.0,4,0,70.0,1
26538,17106,Sales & Marketing,region_13,Bachelor's,m,sourcing,1,38,5.0,9,1,93.0,1
22191,6461,Technology,region_16,Bachelor's,m,other,1,33,3.0,7,0,79.0,1

In [15]:
df_.drop("employee_id",inplace=True,axis=1)

In [16]:
df_.drop("region",inplace=True,axis=1)

In [17]:
df_.drop("gender",inplace=True,axis=1)

In [18]:
df_.drop("age",inplace=True,axis=1)

In [19]:
df_.drop("department",inplace=True,axis=1)

In [20]:
df_.drop("recruitment_channel",inplace=True,axis=1)

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
cols=['education']
df_[cols] = df_[cols].apply(LabelEncoder().fit_transform)

In [23]:
df_.corr()

,education,no_of_trainings,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
education,1.000000,-0.042031,0.007104,0.187997,0.009489,-0.005265,0.015265
no_of_trainings,-0.042031,1.000000,-0.053941,-0.048977,-0.018972,0.044319,-0.052473
previous_year_rating,0.007104,-0.053941,1.000000,-0.013294,0.063791,0.127608,0.294782
length_of_service,0.187997,-0.048977,-0.013294,1.000000,-0.062527,-0.040046,-0.020018
awards_won,0.009489,-0.018972,0.063791,-0.062527,1.000000,0.185707,0.215261
avg_training_score,-0.005265,0.044319,0.127608,-0.040046,0.185707,1.000000,0.303193
is_promoted,0.015265,-0.052473,0.294782,-0.020018,0.215261,0.303193,1.000000

In [24]:
df_

,education,no_of_trainings,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,2,1,5.0,8,0,49.0,0
1,0,1,5.0,4,0,60.0,0
2,0,1,3.0,7,0,50.0,0
3,0,2,1.0,10,0,50.0,0
4,0,1,3.0,2,0,73.0,0
...,...,...,...,...,...,...,...
46373,0,1,3.0,10,0,76.0,1
25822,2,1,3.0,4,0,63.0,1
36170,0,1,4.0,4,0,70.0,1
26538,0,1,5.0,9,1,93.0,1
22191,0,1,3.0,7,0,79.0,1

In [25]:
df_.isnull().sum()

education                  0
no_of_trainings            0
previous_year_rating    7408
length_of_service          0
awards_won                 0
avg_training_score      4248
is_promoted                0
dtype: int64

In [26]:
prev_mean=df_['previous_year_rating'].mean()
df_['previous_year_rating'].fillna(value=prev_mean,inplace=True)

In [27]:
tra_mean=df_['avg_training_score'].mean()

In [28]:
df_['avg_training_score'].fillna(value=tra_mean,inplace=True)

In [29]:
df_.isnull().sum()

education               0
no_of_trainings         0
previous_year_rating    0
length_of_service       0
awards_won              0
avg_training_score      0
is_promoted             0
dtype: int64

In [30]:
x=df_.drop('is_promoted',axis=1)
y=df_['is_promoted']

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
alg=LogisticRegression()

In [34]:
alg.fit(x_train,y_train)

LogisticRegression()

In [35]:
x_train.shape

(75210, 6)

In [36]:
x_test.shape

(25070, 6)

In [37]:
x_test

,education,no_of_trainings,previous_year_rating,length_of_service,awards_won,avg_training_score
14530,0,1,3.0,5,0,83.0
28998,0,1,3.0,4,0,85.0
10295,0,1,5.0,4,0,55.0
36184,0,1,4.0,3,0,65.0
40517,0,1,5.0,4,0,51.0
...,...,...,...,...,...,...
43437,2,1,5.0,8,0,70.0
51736,2,1,1.0,10,0,47.0
385,0,1,5.0,8,0,54.0
7908,2,1,5.0,18,0,62.0
28699,0,1,4.0,12,0,73.0

In [38]:
y_pred=alg.predict(x_test)

In [39]:
from sklearn.metrics import accuracy_score

In [40]:
print(accuracy_score(y_pred,y_test))

0.6596330275229357

In [41]:
from sklearn.ensemble import RandomForestClassifier

In [42]:
alg1=RandomForestClassifier()
alg1.fit(x_train,y_train)

RandomForestClassifier()

In [43]:
y_pred1=alg1.predict(x_test)

In [44]:
print(accuracy_score(y_pred1,y_test))

0.8103310729956122

In [45]:
from sklearn.ensemble import GradientBoostingClassifier

In [46]:
alg3=GradientBoostingClassifier()
alg3.fit(x_train,y_train)

GradientBoostingClassifier()

In [47]:
y_pred3=alg3.predict(x_test)

In [48]:
print(accuracy_score(y_pred3,y_test))

0.6777822098125249

In [ ]:
class LogisticRegression:
    def __init__(self, learning_rate=0.001, n_iters=1000):
        self.lr = learning_rate
        self.n_iters = n_iters
        self.weights = None
        self.bias = None

    def fit(self, X, y):
        n_samples, n_features = X.shape

        # init parameters
        self.weights = np.zeros(n_features)
        self.bias = 0

        # gradient descent
        for _ in range(self.n_iters):
            # approximate y with linear combination of weights and x, plus bias
            linear_model = np.dot(X, self.weights) + self.bias
            # apply sigmoid function
            y_predicted = self._sigmoid(linear_model)

            # compute gradients
            dw = (1 / n_samples) * np.dot(X.T, (y_predicted - y))
            db = (1 / n_samples) * np.sum(y_predicted - y)
            # update parameters
            self.weights -= self.lr * dw
            self.bias -= self.lr * db

    def predict(self, X):
        linear_model = np.dot(X, self.weights) + self.bias
        y_predicted = self._sigmoid(linear_model)
        y_predicted_cls = [1 if i > 0.5 else 0 for i in y_predicted]
        return np.array(y_predicted_cls)

    def _sigmoid(self, x):
        return 1 / (1 + np.exp(-x))

In [50]:
obj=LogisticRegression()

In [52]:
obj.fit(x_train,y_train)

In [54]:
obj.predict(x_test)

array([1, 1, 1, ..., 1, 0, 0])

In [55]:
print(accuracy_score(obj.predict(x_test),y_test))

0.5556043079377743